<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Document</title>
</head>
<body>
	<div class="up_topbar h_top">
    <div class="up_topbar_center">
      <div class="fr">
			<!--登录后-->
						<!--登录前-->
			<div>
              <div class="phone_ban fr"><a href="https://static.95516.com/static/phone/index.html" "="">手机版</a></div>
              <div class="fr">
            	<a href="javascript:;" id="login">登录</a><em>-</em><a href="javascript:;" id="register">注册</a><em>|</em><a id="up_user" r_link="https://www.95516.com/static/union/pages/user/index.html">我的银联</a><em>|</em><a href="https://www.95516.com/static/union/pages/order/search.html" id="up_user">订单查询</a><em>|</em><a href="https://static.95516.com/static/help/index.html">帮助中心</a><em>|</em><a href="https://www.95516.com/mer/">商家服务</a>
              </div>  
            </div>			 
		</div>
      </div>
    </div>
    <div class="up_topbar h_bottom">
    <div class="up_topbar_center">
        <!--S 头部主菜单-->
        <div class="up_header fr clearfix">
        <div class="up_header_center">
			            <h1>
				<a href="https://www.95516.com/static/union/pages/index/index.html"><img src="https://static.95516.com/static/v4_i18/up/zh_CN/images/global/logo.jpg" width="147" height="38" alt="银联持卡人服务网站"></a>
			</h1>			
						<ul id="menu">
				<li id="menu_index"><a class="up_home" href="https://www.95516.com/static/union/pages/index/index.html">首页</a></li>
				<li id="menu_liyu"><a class="up_app" href="https://www.95516.com/static/union/pages/recepation/recepation.html">礼遇</a></li>
				<li id="menu_youhui"><a class="up_sale" href="https://youhui.95516.com">优惠</a></li>
				<li id="menu_shenghuo"><a class="up_live" href="https://app.95516.com/huankuan/main.do">生活</a></li>
				<li id="menu_chanpin"><a class="up_product" href="https://static.95516.com/static/product/index.html">产品</a></li>                      
			</ul>            
        </div>	
        </div>
        <!--E 头部主菜单-->
    </div>
    </div>
</body>
</html>