<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>关于我们</title>
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/jquery.SuperSlide.2.1.js"></script>
<script src="js/source.func.js"></script>
<script src="js/common.js"></script>
<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('#');
</script>
<![endif]-->
</head>

<body data-curpageid="2">
<div class="header">
	<div class="header-main wrapper clearfix">
		<a href="index.html" class="header-logo"><img src="images/logo.png"></a>
		<div class="header-right">
			<div class="header-right-sup clearfix">
				<div class="header-search clearfix">
					<input type="text" name="" id="">
					<a href="javascript:void(0);" class="submit" id=""></a>
				</div>
				<div class="header-version-tab"><a href="#">中文版</a>|<a href="#">English</a></div>
			</div>
			<p class="header-phone">021-58712795</p>
		</div>
	</div>
</div>
<div class="main-nav">
	<ul class="main-nav-list wrapper">
		<li><a href="index.html" data-pageid="1">网站首页</a></li>
		<li><a href="about.html" data-pageid="2">关于我们</a></li>
		<li><a href="pro.html" data-pageid="3">产品分类</a></li>
		<li><a href="jinkou.html" data-pageid="4">进口品牌</a></li>
		<li><a href="prodata.html" data-pageid="5">产品知识</a></li>
		<li><a href="anzh.html" data-pageid="6">安装工程</a></li>
		<li><a href="contact.html" data-pageid="7">联系我们</a></li>
	</ul>
</div>
<div class="inbanner">
	<div class="inbanner-pic" style="background-image:url(images/pic_banner_about.jpg);"></div>
	<div class="inbanner-text">
		<h3 class="title">关于我们</h3>
		<p class="exp">凯蔚（上海）机电科技有限公司是一家专业生产销售国标，德标， 美标等液压管阀件的公司。</p>
	</div>
</div>
<div class="inside-pos wrapper">
	<h1 class="page-title">关于我们</h1>
	<p class="cur-pos">当前位置：<a href="index.html">首页</a> &gt; <a href="about.html">关于我们</a> &gt; 公司简介</p>
</div>
<div class="incontenter">
	<div class="wrapper">
		<div class="inside-nav">
			<ul class="inside-nav-list clearfix">
				<li class="on"><a href="#">公司简介</a></li>
				<li><a href="#">产品应用</a></li>
				<li><a href="#">质量保证</a></li>
			</ul>
		</div>
		<!--程序可使用循环，偶数加个class——"about-cont-one-oop"即可-->
		<div class="about-cont-one clearfix">
			<div class="pic"><img src="images/pic_about_1.jpg"></div>
			<div class="text">
				<p class="exp">凯蔚（上海）机电科技有限公司是一家专业生产销售国标，德标， 美标等液压管阀件的公司， 公司在德国设有分公司，代理德国众多厂家生产的不锈钢,碳钢液压流体及自动化设备零配件, 并承接液压管道装配工程。</p>
			</div>
		</div>
		<div class="about-cont-one about-cont-one-oop clearfix">
			<div class="pic"><img src="images/pic_about_2.jpg"></div>
			<div class="text">
				<p class="exp">公司目前的产品主要为液压附件，油缸附件,密封系统,德国进口卡套式接头，低中高快速接头， 球阀， 针阀等，主要材质为316Ti， 316, 304, 321,碳钢 等,公司还为客户提供配套产品， 如软管， 软管总成，管夹， 钢管, 盘管器等管道流体应用连接件。</p>
			</div>
		</div>
		<div class="about-cont-one clearfix">
			<div class="pic"><img src="images/pic_about_3.jpg"></div>
			<div class="text">
				<p class="exp">凯蔚（上海）机电科技有限公司的产品广泛应用于工程机械，电力设备，机车制造，造纸造船工业, 港口码头。 </p>
			</div>
		</div>
		<div class="about-cont-one about-cont-one-oop clearfix">
			<div class="pic"><img src="images/pic_about_4.jpg"></div>
			<div class="text">
				<p class="exp">凯蔚（上海）机电科技有限公司位于青浦区菘泽大道与沈海高速交通枢纽，能够提供范围广泛的产品并将他们及时分销于全国各地。公司通过ISO9001认证， 有着出色的管理能力，为了能够在短时间内满足客户需要，凯蔚上海仓库备有上百种产品系列，有着出色的仓储控制和大范围管件的集中存放能力，同时，一流的物流服务，使时间紧迫的高难度客户要求得以满足，保证了对绝大多数产品的迅速供应。 </p>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="wrapper clearfix">
		<div class="footer-nav">
			<div class="footer-logo"><img src="images/logo_footer.png"></div>
			<div class="footer-nav-list">
				<a href="index.html">首页</a>
				<a href="about.html">关于我们</a>
				<a href="pro.html">产品展示</a>
				<a href="jinkou.html">进口品牌</a>
				<a href="prodata.html">产品知识</a>
				<a href="anzh.html">安装工程</a>
				<a href="contact.html">联系我们</a>
			</div>
		</div>
		<div class="footer-mess">
			<p>地址：上海市青浦区徐泾镇崧泽大道1618弄9号&nbsp;&nbsp;电话：+86 21 58712722 / 58712795</p>
			<p>传真：+86 21 58716195&nbsp;&nbsp;邮箱：info@kevytech.com</p>
			<p>COPYRIGHT © 2015 凯蔚（上海）机电科技有限公司&nbsp;&nbsp;ALL RIGHTS RESERVED</p>
		</div>
	</div>
</div>
</body>
</html>
