<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>安装工程</title>
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/jquery.SuperSlide.2.1.js"></script>
<script src="js/source.func.js"></script>
<script src="js/common.js"></script>
<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('#');
</script>
<![endif]-->
</head>

<body data-curpageid="6">
<div class="header">
	<div class="header-main wrapper clearfix">
		<a href="index.html" class="header-logo"><img src="images/logo.png"></a>
		<div class="header-right">
			<div class="header-right-sup clearfix">
				<div class="header-search clearfix">
					<input type="text" name="" id="">
					<a href="javascript:void(0);" class="submit" id=""></a>
				</div>
				<div class="header-version-tab"><a href="#">中文版</a>|<a href="#">English</a></div>
			</div>
			<p class="header-phone">021-58712795</p>
		</div>
	</div>
</div>
<div class="main-nav">
	<ul class="main-nav-list wrapper">
		<li><a href="index.html" data-pageid="1">网站首页</a></li>
		<li><a href="about.html" data-pageid="2">关于我们</a></li>
		<li><a href="pro.html" data-pageid="3">产品分类</a></li>
		<li><a href="jinkou.html" data-pageid="4">进口品牌</a></li>
		<li><a href="prodata.html" data-pageid="5">产品知识</a></li>
		<li><a href="anzh.html" data-pageid="6">安装工程</a></li>
		<li><a href="contact.html" data-pageid="7">联系我们</a></li>
	</ul>
</div>
<div class="inbanner">
	<div class="inbanner-pic" style="background-image:url(images/pic_banner_anzh.jpg);"></div>
	<div class="inbanner-text">
		<h3 class="title">安装工程</h3>
		<p class="exp">完整管道系统方案含盖了所有部件材料和从工程设计，车间预制，现场安装服务、测试、冲洗等完整服务的完整管道系统产品。</p>
	</div>
</div>
<div class="inside-pos wrapper">
	<h1 class="page-title">安装工程</h1>
	<p class="cur-pos">当前位置：<a href="index.html">首页</a> &gt; 安装工程</p>
</div>
<div class="incontenter">
	<div class="wrapper">
		<div class="article">
			<h3 class="article-tit">管路预制和安装服务</h3>
			<p>完整管道系统方案含盖了所有部件材料和从工程设计，车间预制，现场安装服务、测试、冲洗等完整服务的完整管道系统产品。</p>
			<ul class="article-pics-list">
				<li>
					<img src="images/pic_az_1.jpg">
				</li>
				<li>
					<img src="images/pic_az_2.jpg">
				</li>
				<li>
					<img src="images/pic_az_3.jpg">
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="footer">
	<div class="wrapper clearfix">
		<div class="footer-nav">
			<div class="footer-logo"><img src="images/logo_footer.png"></div>
			<div class="footer-nav-list">
				<a href="index.html">首页</a>
				<a href="about.html">关于我们</a>
				<a href="pro.html">产品展示</a>
				<a href="jinkou.html">进口品牌</a>
				<a href="prodata.html">产品知识</a>
				<a href="anzh.html">安装工程</a>
				<a href="contact.html">联系我们</a>
			</div>
		</div>
		<div class="footer-mess">
			<p>地址：上海市青浦区徐泾镇崧泽大道1618弄9号&nbsp;&nbsp;电话：+86 21 58712722 / 58712795</p>
			<p>传真：+86 21 58716195&nbsp;&nbsp;邮箱：info@kevytech.com</p>
			<p>COPYRIGHT © 2015 凯蔚（上海）机电科技有限公司&nbsp;&nbsp;ALL RIGHTS RESERVED</p>
		</div>
	</div>
</div>
</body>
</html>
