<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>产品知识</title>
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/jquery.SuperSlide.2.1.js"></script>
<script src="js/source.func.js"></script>
<script src="js/common.js"></script>
<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('#');
</script>
<![endif]-->
</head>

<body data-curpageid="5">
<div class="header">
	<div class="header-main wrapper clearfix">
		<a href="index.html" class="header-logo"><img src="images/logo.png"></a>
		<div class="header-right">
			<div class="header-right-sup clearfix">
				<div class="header-search clearfix">
					<input type="text" name="" id="">
					<a href="javascript:void(0);" class="submit" id=""></a>
				</div>
				<div class="header-version-tab"><a href="#">中文版</a>|<a href="#">English</a></div>
			</div>
			<p class="header-phone">021-58712795</p>
		</div>
	</div>
</div>
<div class="main-nav">
	<ul class="main-nav-list wrapper">
		<li><a href="index.html" data-pageid="1">网站首页</a></li>
		<li><a href="about.html" data-pageid="2">关于我们</a></li>
		<li><a href="pro.html" data-pageid="3">产品分类</a></li>
		<li><a href="jinkou.html" data-pageid="4">进口品牌</a></li>
		<li><a href="prodata.html" data-pageid="5">产品知识</a></li>
		<li><a href="anzh.html" data-pageid="6">安装工程</a></li>
		<li><a href="contact.html" data-pageid="7">联系我们</a></li>
	</ul>
</div>
<div class="inbanner">
	<div class="inbanner-pic" style="background-image:url(images/pic_banner_prodata.jpg);"></div>
	<div class="inbanner-text">
		<h3 class="title">产品知识</h3>
		<p class="exp">凯蔚机电为您提供丰富的产品知识！</p>
	</div>
</div>
<div class="inside-pos wrapper">
	<h1 class="page-title">产品知识</h1>
	<p class="cur-pos">当前位置：<a href="index.html">首页</a> &gt; <a href="prodata.html">产品知识</a> &gt; 详细</p>
</div>
<div class="incontenter">
	<div class="wrapper">
		<div class="article">
			<h1 class="article-tit">文章标题文章标题文章标题文章标题文章标题</h1>
			<p class="article-exp">发表时间：2015-06-10</p>
			<p>派克为全球运动和控制技术的领导者，提供精密工程解决方案，广泛应用于移动、工业和航空航天市场。只要有移动，就会看到派克的身影。 派克在运动和控制技术的九大领域居于全球领先地位：航空航天、环境控制、电动机械、过滤、流体和气体处理、液压、气动、过程控制、密封和屏蔽，以此为依托推出的产品，其广度和深度无人能及。我们可以根据客户需求提供相应的产品和技术，帮助客户解决简单问题；我们也可以开发系统，将产品和技术纳入其中，帮助客户解决复杂难题。</p>
			<p>流体连接件部门主要分为六大生产线：<span style="color:#AF0000;">橡胶软管和软管接头，工业管，硬管接头，高压及超高压接头，快换接头和铜接头。</span> 生产并销售全世界最齐全的产品系列，包括液压和气动接头、快速接头、橡胶软管和热塑软管。材料涉及钢、黄铜、不锈钢、橡胶、热塑性和其他材料等。</p>
			<p>Parker 提供的接头采用了无漏解决方案。接头样式包括 — 液压、气动和仪表。Parker 接头通常将软管组件连接到端口或管接头，其制造水平达到或超过了 SAE、ISO、DIN、DOT 和 JIS 标准的工业规格要求。</p>
			<p>Parker 提供各种样式的接头，包括：高纯工况用接头37 和 45 度扩口接头压缩、卡套式、O 型圈面密封接头直螺纹、导管、法兰和倒钩接头卫生、蒸汽和内部扩展接头旋转、通用和联锁夹具接头永久卷曲接头（接头）Push-Lok、按接式和空气软管接头磨头对接式接头 (ParLock）液压软管永久 (Parkrimp) 和可重复使用接头。</p>
			<p> 还提供各种工具和设备，用于软管扣压机（KK1，KK2，PK2等）、软管清洗机TH6-7，软管切割机TH3-2，TH3-3，卡套预装机EO-KARRYMAT、EOMAT ECO，EOMAT UNI等，扩口和翻边机 Parflange1025,1050等。并提供各种传感器元件，用于测量系统压力、温度及流量等。</p>
			<p>派克提供的快速接头主要是三个品牌：派克、利达时（RECTUS）和天马（TEMA），后两种均是派克收购到旗下的著名快接生产商，其所有的产品生产、销售均由派克的销售渠道来服务和管理。国内用的比较多的60系列的快速接头 ，碳钢的H4-62，H4-63，H2-62，H2-63，H2-62-BSPP，H2-63-BSPP，黄铜的BH4-60，BH4-61，BH2-60，BH2-61，BH2-60-BSPP，BH2-61-BSPP ，不锈钢 SH2-62，SH2-63，SH3-62，SH3-63，SH3-62-643，SH3-63-643等。</p>
			<p>利达时RECTUS 21KA，23KA系列，7500系列等等。</p>
			<p>TEMA 3800、10000系列，HP系列，7500系列等快接在国内应用十分广泛 。</p>
		</div>
	</div>
</div>
<div class="footer">
	<div class="wrapper clearfix">
		<div class="footer-nav">
			<div class="footer-logo"><img src="images/logo_footer.png"></div>
			<div class="footer-nav-list">
				<a href="index.html">首页</a>
				<a href="about.html">关于我们</a>
				<a href="pro.html">产品展示</a>
				<a href="jinkou.html">进口品牌</a>
				<a href="prodata.html">产品知识</a>
				<a href="anzh.html">安装工程</a>
				<a href="contact.html">联系我们</a>
			</div>
		</div>
		<div class="footer-mess">
			<p>地址：上海市青浦区徐泾镇崧泽大道1618弄9号&nbsp;&nbsp;电话：+86 21 58712722 / 58712795</p>
			<p>传真：+86 21 58716195&nbsp;&nbsp;邮箱：info@kevytech.com</p>
			<p>COPYRIGHT © 2015 凯蔚（上海）机电科技有限公司&nbsp;&nbsp;ALL RIGHTS RESERVED</p>
		</div>
	</div>
</div>
</body>
</html>
