<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>联系我们</title>
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/jquery.SuperSlide.2.1.js"></script>
<script src="js/source.func.js"></script>
<script src="js/common.js"></script>
<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('#');
</script>
<![endif]-->
</head>

<body data-curpageid="7">
<div class="header">
	<div class="header-main wrapper clearfix">
		<a href="index.html" class="header-logo"><img src="images/logo.png"></a>
		<div class="header-right">
			<div class="header-right-sup clearfix">
				<div class="header-search clearfix">
					<input type="text" name="" id="">
					<a href="javascript:void(0);" class="submit" id=""></a>
				</div>
				<div class="header-version-tab"><a href="#">中文版</a>|<a href="#">English</a></div>
			</div>
			<p class="header-phone">021-58712795</p>
		</div>
	</div>
</div>
<div class="main-nav">
	<ul class="main-nav-list wrapper">
		<li><a href="index.html" data-pageid="1">网站首页</a></li>
		<li class="on"><a href="about.html" data-pageid="2">关于我们</a></li>
		<li><a href="pro.html" data-pageid="3">产品分类</a></li>
		<li><a href="jinkou.html" data-pageid="4">进口品牌</a></li>
		<li><a href="prodata.html" data-pageid="5">产品知识</a></li>
		<li><a href="anzh.html" data-pageid="6">安装工程</a></li>
		<li><a href="contact.html" data-pageid="7">联系我们</a></li>
	</ul>
</div>
<div class="inbanner">
	<div class="inbanner-pic" style="background-image:url(images/pic_banner_contact.jpg);"></div>
	<div class="inbanner-text">
		<h3 class="title">联系我们</h3>
		<p class="exp">凯蔚（上海）机电科技有限公司竭诚为您服务！</p>
	</div>
</div>
<div class="inside-pos wrapper">
	<h1 class="page-title">联系我们</h1>
	<p class="cur-pos">当前位置：<a href="index.html">首页</a> &gt; 联系我们</p>
</div>
<div class="incontenter">
	<div class="wrapper">
		<div class="incontact-way">
			<p>快速的供货渠道和优良的品质，这是我们向客户提供长期服务的开始。同客户保持长期的伙伴关系，帮助客户提高生产效率，让客户得到高质量的、值得信赖的产品与服务是我们的宗旨。</p>
			<br>
			<p>联系电话：021-67671597</p>
			<p>联系传真：021-67671661</p>
			<p>电子邮件：hison@hison.sh.cn</p>
			<p>公司地址：上海市松江区洞泾工业区振业路198号</p>
			<p>邮编：201619</p>
			<br>
		</div>
		<form id="form-feedback" action="" method="post">
			<h4 class="column-common-tit">产品询价</h4>
			<ul class="feedback-form-list">
				<li>
					<label class="title" for="fback-prosize">产品类别及型号尺寸：</label><input type="text" class="form-text-normal" id="fback-prosize">
				</li>
				<li>
					<label class="title" for="fback-name">姓名：</label><input type="text" class="form-text-normal" id="fback-name">
				</li>
				<li>
					<label class="title" for="fback-phone">电话：</label><input type="text" class="form-text-normal" id="fback-phone">
				</li>
				<li>
					<label class="title" for="fback-company">公司：</label><input type="text" class="form-text-normal" id="fback-commpany">
				</li>
				<li>
					<label class="title" for="fback-content">咨询细节：</label><textarea  class="form-textarea-normal" id="fback-content"></textarea>
				</li>
				<li>
					<label class="title"></label><a href="javascript:void(0);" class="btn-submit" id="fback-submit">提 交</a>
				</li>
			</ul>
		</form>
		<div class="incontact-map">
			<img src="images/pic_addr_map.jpg">
		</div>
	</div>
</div>
<div class="footer">
	<div class="wrapper clearfix">
		<div class="footer-nav">
			<div class="footer-logo"><img src="images/logo_footer.png"></div>
			<div class="footer-nav-list">
				<a href="index.html">首页</a>
				<a href="about.html">关于我们</a>
				<a href="pro.html">产品展示</a>
				<a href="jinkou.html">进口品牌</a>
				<a href="prodata.html">产品知识</a>
				<a href="anzh.html">安装工程</a>
				<a href="contact.html">联系我们</a>
			</div>
		</div>
		<div class="footer-mess">
			<p>地址：上海市青浦区徐泾镇崧泽大道1618弄9号&nbsp;&nbsp;电话：+86 21 58712722 / 58712795</p>
			<p>传真：+86 21 58716195&nbsp;&nbsp;邮箱：info@kevytech.com</p>
			<p>COPYRIGHT © 2015 凯蔚（上海）机电科技有限公司&nbsp;&nbsp;ALL RIGHTS RESERVED</p>
		</div>
	</div>
</div>
</body>
</html>
