<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>凯蔚机电科技有限公司企业模板</title>
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/common.css">
        <script src="js/jquery-1.7.2.min.js"></script>
        <script src="js/jquery.SuperSlide.2.1.js"></script>
        <script src="js/source.func.js"></script>
        <script src="js/common.js"></script>
        <!--[if IE 6]>
    <script src="js/DD_belatedPNG.js"></script>
    <script>
      DD_belatedPNG.fix('#');
    </script>
    <![endif]-->
    </head>
    <body data-curpageid="1">
        <div class="header">
            <div class="header-main wrapper clearfix">
                <a href="index.html" class="header-logo"><img src="images/logo.png"></a>
                <div class="header-right">
                    <div class="header-right-sup clearfix">
                        <div class="header-search clearfix">
                            <input type="text" name="" id="">
                            <a href="javascript:void(0);" class="submit" id=""></a>
                        </div>
                        <div class="header-version-tab"><a href="#">中文版</a>|<a href="#">English</a></div>
                    </div>
                    <p class="header-phone">021-58712795</p>
                </div>
            </div>
        </div>
        <div class="main-nav">
            <ul class="main-nav-list wrapper">
                <li><a href="index.html" data-pageid="1">网站首页</a></li>
                <li><a href="about.html" data-pageid="2">关于我们</a></li>
                <li><a href="pro.html" data-pageid="3">产品分类</a></li>
                <li><a href="jinkou.html" data-pageid="4">进口品牌</a></li>
                <li><a href="prodata.html" data-pageid="5">产品知识</a></li>
                <li><a href="anzh.html" data-pageid="6">安装工程</a></li>
                <li><a href="contact.html" data-pageid="7">联系我们</a></li>
            </ul>
        </div>
        <div class="banner">
            <div class="banner-pics">
                <ul class="banner-pics-list">
                    <li style="background-image: url(images/pic_banner_1.jpg)"></li>
                    <li style="background-image: url(images/pic_banner_2.jpg)"></li>
                    <li style="background-image: url(images/pic_banner_3.jpg)"></li>
                    <li style="background-image: url(images/pic_banner_4.jpg)"></li>
                    <li style="background-image: url(images/pic_banner_5.jpg)"></li>
                </ul>
            </div>
            <div class="banner-apply">
                <h3 class="title">
                    我们的产品广泛应用于</h3>
                <p class="exp">
                    工程机械，电力设备<br>
                    机车制造，造纸造船工业，港口码头</p>
                <ul class="banner-apply-list clearfix">
                    <li><a href="#">
                            <img src="images/pic_banner_pro_1.png"></a></li>
                    <li><a href="#">
                            <img src="images/pic_banner_pro_2.png"></a></li>
                    <li><a href="#">
                            <img src="images/pic_banner_pro_3.png"></a></li>
                </ul>
            </div>
            <div class="banner-turn">
                <a href="javascript:void(0);" class="banner-prev"></a><a href="javascript:void(0);"
                                                                         class="banner-next"></a>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(".banner").slide({mainCell: ".banner-pics-list", prevCell: ".banner-prev", nextCell: ".banner-next", effect: "fold", autoPlay: true, interTime: 4000, delayTime: 1000})
        </script>
        <div class="contenter">
            <div class="index-product">
                <div class="wrapper clearfix">
                    <div class="index-product-sidebar">
                        <div class="product-nav">
                            <h2 class="product-nav-tit">
                                产品中心</h2>
                            <ul class="product-nav-list">
                                <li><a href="#">阀门</a></li>
                                <li><a href="#">接头</a></li>
                                <li><a href="#">软管总成</a></li>
                                <li><a href="#">法兰</a></li>
                                <li><a href="#">钢管</a></li>
                                <li><a href="#">低压管件</a></li>
                                <li><a href="#">液压附件</a></li>
                            </ul>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function() {
                            jQuery(".index-product-main").slide({mainCell: ".index-product-main-cont", prevCell: ".turn-prev", nextCell: ".turn-next", effect: "left", autoPlay: true, interTime: 3000, delayTime: 1000})
                        });
                    </script>
                    <div class="index-product-main">
                        <div class="index-product-main-tit">
                            <a href="javascript:void(0);" class="turn-btn turn-prev"></a>
                            <h3 class="title">
                                产品展示</h3>
                            <a href="javascript:void(0);" class="turn-btn turn-next"></a>
                        </div>
                        <div class="index-product-main-cont">
                            <div class="index-pros-list-one">
                                <ul class="pros-show-list row-list-4 clearfix">
                                    <li><a href="#" class="pros-show-one">
                                            <div class="pic">
                                                <img src="images/pic_index_pro_1.jpg"></div>
                                            <h4 class="title">
                                                软管总成</h4>
                                            <div class="tip">
                                                查看详情&gt;&gt;</div>
                                        </a></li>
                                    <li><a href="#" class="pros-show-one">
                                            <div class="pic">
                                                <img src="images/pic_index_pro_2.jpg"></div>
                                            <h4 class="title">
                                                液压附件</h4>
                                            <div class="tip">
                                                查看详情&gt;&gt;</div>
                                        </a></li>
                                    <li><a href="#" class="pros-show-one">
                                            <div class="pic">
                                                <img src="images/pic_index_pro_3.jpg"></div>
                                            <h4 class="title">
                                                液压附件</h4>
                                            <div class="tip">
                                                查看详情&gt;&gt;</div>
                                        </a></li>
                                    <li><a href="#" class="pros-show-one">
                                            <div class="pic">
                                                <img src="images/pic_index_pro_4.jpg"></div>
                                            <h4 class="title">
                                                低压附件</h4>
                                            <div class="tip">
                                                查看详情&gt;&gt;</div>
                                        </a></li>
                                    <li><a href="#" class="pros-show-one">
                                            <div class="pic">
                                                <img src="images/pic_index_pro_5.jpg"></div>
                                            <h4 class="title">
                                                软管总成</h4>
                                            <div class="tip">
                                                查看详情&gt;&gt;</div>
                                        </a></li>
                                    <li><a href="#" class="pros-show-one">
                                            <div class="pic">
                                                <img src="images/pic_index_pro_6.jpg"></div>
                                            <h4 class="title">
                                                液压附件</h4>
                                            <div class="tip">
                                                查看详情&gt;&gt;</div>
                                        </a></li>
                                    <li><a href="#" class="pros-show-one">
                                            <div class="pic">
                                                <img src="images/pic_index_pro_7.jpg"></div>
                                            <h4 class="title">
                                                液压附件</h4>
                                            <div class="tip">
                                                查看详情&gt;&gt;</div>
                                        </a></li>
                                    <li><a href="#" class="pros-show-one">
                                            <div class="pic">
                                                <img src="images/pic_index_pro_8.jpg"></div>
                                            <h4 class="title">
                                                阀门</h4>
                                            <div class="tip">
                                                查看详情&gt;&gt;</div>
                                        </a></li>
                                </ul>
                            </div>
                            <div class="index-pros-list-one">
                                <ul class="pros-show-list row-list-4 clearfix">
                                    <li><a href="#" class="pros-show-one">
                                            <div class="pic">
                                                <img src="images/pic_index_pro_1.jpg"></div>
                                            <h4 class="title">
                                                软管总成</h4>
                                            <div class="tip">
                                                查看详情&gt;&gt;</div>
                                        </a></li>
                                    <li><a href="#" class="pros-show-one">
                                            <div class="pic">
                                                <img src="images/pic_index_pro_2.jpg"></div>
                                            <h4 class="title">
                                                液压附件</h4>
                                            <div class="tip">
                                                查看详情&gt;&gt;</div>
                                        </a></li>
                                    <li><a href="#" class="pros-show-one">
                                            <div class="pic">
                                                <img src="images/pic_index_pro_3.jpg"></div>
                                            <h4 class="title">
                                                液压附件</h4>
                                            <div class="tip">
                                                查看详情&gt;&gt;</div>
                                        </a></li>
                                    <li><a href="#" class="pros-show-one">
                                            <div class="pic">
                                                <img src="images/pic_index_pro_4.jpg"></div>
                                            <h4 class="title">
                                                低压附件</h4>
                                            <div class="tip">
                                                查看详情&gt;&gt;</div>
                                        </a></li>
                                    <li><a href="#" class="pros-show-one">
                                            <div class="pic">
                                                <img src="images/pic_index_pro_5.jpg"></div>
                                            <h4 class="title">
                                                软管总成</h4>
                                            <div class="tip">
                                                查看详情&gt;&gt;</div>
                                        </a></li>
                                    <li><a href="#" class="pros-show-one">
                                            <div class="pic">
                                                <img src="images/pic_index_pro_6.jpg"></div>
                                            <h4 class="title">
                                                液压附件</h4>
                                            <div class="tip">
                                                查看详情&gt;&gt;</div>
                                        </a></li>
                                    <li><a href="#" class="pros-show-one">
                                            <div class="pic">
                                                <img src="images/pic_index_pro_7.jpg"></div>
                                            <h4 class="title">
                                                液压附件</h4>
                                            <div class="tip">
                                                查看详情&gt;&gt;</div>
                                        </a></li>
                                    <li><a href="#" class="pros-show-one">
                                            <div class="pic">
                                                <img src="images/pic_index_pro_8.jpg"></div>
                                            <h4 class="title">
                                                阀门</h4>
                                            <div class="tip">
                                                查看详情&gt;&gt;</div>
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="index-column">
                <div class="wrapper clearfix">
                    <div class="index-about">
                        <div class="index-common-tit">
                            <h3 class="title">
                                公司简介</h3>
                        </div>
                        <div class="index-about-cont clearfix">
                            <div class="pic">
                                <img src="images/pic_about_index.jpg"></div>
                            <div class="text">
                                <p>
                                    凯蔚（上海）机电科技有限公司是一家专业生产销售国标，德标， 美标等液压管阀件的公司， 公司在德国设有分公司，代理德国众多厂家生产的不锈钢,碳钢液压流体及自动化设备零配件,
                                    并承接液压管道装配工程。</p>
                                <p>
                                    公司目前的产品主要为液压附件，油缸附件,密封系统,德国进口卡套式接头，低中高快速接头， 球阀， 针阀等，主要材质为316Ti， 316, 304, 321,碳钢
                                    等,公司还为客户提供配套产品......</p>
                            </div>
                            <a href="about.html" class="see-more"></a>
                        </div>
                    </div>
                    <div class="index-prodata">
                        <div class="index-common-tit">
                            <h3 class="title">
                                产品知识</h3>
                            <a href="prodata.html" class="see-more">+More</a>
                        </div>
                        <div class="index-prodata-first clearfix">
                            <span class="date"><em>27</em><br>
                                2015-05</span> <a href="#" class="text">
                                <h4 class="title">
                                    各类密封圈材质以及应用</h4>
                                <p class="exp">
                                    SIL硅橡胶密封圈：SIL硅橡胶密封圈具有极佳的耐热、耐寒、耐臭氧、耐大气老化性能，有很好的绝缘性能，但SIL...</p>
                            </a>
                        </div>
                        <ul class="prodata-list ellipsis-list">
                            <li><a href="#">NPT、PT、G、RC螺纹的区别</a><span class="time">2015-05-20</span></li>
                            <li><a href="#">不锈钢卡压与环压的综合对比</a><span class="time">2015-05-20</span></li>
                            <li><a href="#">卡套接头安装说明</a><span class="time">2015-05-20</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="index-jinkou">
                <div class="wrapper">
                    <div class="index-common-tit">
                        <h3 class="title">
                            进口品牌</h3>
                    </div>
                    <div class="index-jinkou-loop">
                        <div class="jinkou-logos">
                            <ul class="jinkou-logos-list clearfix">
                                <li><a href="#">
                                        <img src="images/logo_flink_1.jpg"></a></li>
                                <li><a href="#">
                                        <img src="images/logo_flink_2.jpg"></a></li>
                                <li><a href="#">
                                        <img src="images/logo_flink_3.jpg"></a></li>
                                <li><a href="#">
                                        <img src="images/logo_flink_4.jpg"></a></li>
                                <li><a href="#">
                                        <img src="images/logo_flink_5.jpg"></a></li>
                                <li><a href="#">
                                        <img src="images/logo_flink_6.jpg"></a></li>
                                <li><a href="#">
                                        <img src="images/logo_flink_1.jpg"></a></li>
                                <li><a href="#">
                                        <img src="images/logo_flink_2.jpg"></a></li>
                                <li><a href="#">
                                        <img src="images/logo_flink_3.jpg"></a></li>
                                <li><a href="#">
                                        <img src="images/logo_flink_4.jpg"></a></li>
                                <li><a href="#">
                                        <img src="images/logo_flink_5.jpg"></a></li>
                                <li><a href="#">
                                        <img src="images/logo_flink_6.jpg"></a></li>
                            </ul>
                        </div>
                        <div class="loop-turn">
                            <a href="javascript:void(0);" class="turn-prev"></a><a href="javascript:void(0);"
                                                                                   class="turn-next"></a>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                jQuery(".index-jinkou-loop").slide({mainCell: ".jinkou-logos-list", prevCell: ".turn-prev", nextCell: ".turn-next", vis: 6, effect: "left", autoPage: true, pnLoop: false})
            </script>
        </div>
        <div class="footer">
            <div class="wrapper clearfix">
                <div class="footer-nav">
                    <div class="footer-logo">
                        <img src="images/logo_footer.png"></div>
                    <div class="footer-nav-list">
                        <a href="index.html">首页</a> <a href="about.html">关于我们</a> <a href="pro.html">产品展示</a>
                        <a href="jinkou.html">进口品牌</a> <a href="prodata.html">产品知识</a> <a href="anzh.html">安装工程</a>
                        <a href="contact.html">联系我们</a>
                    </div>
                </div>
                <div class="footer-mess">
                    <p>
                        地址：上海市青浦区徐泾镇崧泽大道1618弄9号&nbsp;&nbsp;电话：+86 21 58712722 / 58712795</p>
                    <p>
                        传真：+86 21 58716195&nbsp;&nbsp;邮箱：info@kevytech.com</p>
                    <p>
                        COPYRIGHT © 2015 凯蔚（上海）机电科技有限公司&nbsp;&nbsp;ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </body>
</html>
