<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>进口品牌链接</title>
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/jquery.SuperSlide.2.1.js"></script>
<script src="js/source.func.js"></script>
<script src="js/common.js"></script>
<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('#');
</script>
<![endif]-->
</head>

<body data-curpageid="4">
<div class="header">
	<div class="header-main wrapper clearfix">
		<a href="index.html" class="header-logo"><img src="images/logo.png"></a>
		<div class="header-right">
			<div class="header-right-sup clearfix">
				<div class="header-search clearfix">
					<input type="text" name="" id="">
					<a href="javascript:void(0);" class="submit" id=""></a>
				</div>
				<div class="header-version-tab"><a href="#">中文版</a>|<a href="#">English</a></div>
			</div>
			<p class="header-phone">021-58712795</p>
		</div>
	</div>
</div>
<div class="main-nav">
	<ul class="main-nav-list wrapper">
		<li><a href="index.html" data-pageid="1">网站首页</a></li>
		<li><a href="about.html" data-pageid="2">关于我们</a></li>
		<li><a href="pro.html" data-pageid="3">产品分类</a></li>
		<li><a href="jinkou.html" data-pageid="4">进口品牌</a></li>
		<li><a href="prodata.html" data-pageid="5">产品知识</a></li>
		<li><a href="anzh.html" data-pageid="6">安装工程</a></li>
		<li><a href="contact.html" data-pageid="7">联系我们</a></li>
	</ul>
</div>
<div class="inbanner">
	<div class="inbanner-pic" style="background-image:url(images/pic_banner_jinkou.jpg);"></div>
	<div class="inbanner-text">
		<h3 class="title">进口品牌</h3>
		<p class="exp">公司的产品广泛应用于工程机械，电力设备，机车制造，造纸造船工业, 港口码头。</p>
	</div>
</div>
<div class="inside-pos wrapper">
	<h1 class="page-title">进口品牌</h1>
	<p class="cur-pos">当前位置：<a href="index.html">首页</a> &gt; <a href="jinkou.html">进口品牌</a> &gt; 进口品牌链接</p>
</div>
<div class="incontenter">
	<div class="wrapper">
		<div class="inside-nav">
			<ul class="inside-nav-list clearfix">
				<li><a href="jinkou_pro.html">Exmar GbmH产品</a></li>
				<li><a href="jinkou.html">GF管路系统</a></li>
				<li><a href="jinkou.html">Parker产品</a></li>
				<li class="on"><a href="jinkou_links.html">进口品牌链接</a></li>
			</ul>
		</div>
		<div class="article">
			<p>我公司在德国设有采购办公室，为国内大型欧美重工企业提供备品备件。在德国我们目前已与数十家供应商， 欧洲厂家建立了良好的采购关系, 产品涉及流体, 自动控制, 化工,机电等各个行业,应用领域包括风电、造纸、化工、汽车、机械、流体等行业。公司提供选型，商务及售后服务，德国每月两次拼箱空运，集中采购， 集中发货， 大大缩短了境外采购的供货周期。</p>
		</div>
		<div class="jinkou-links">
			<h3 class="column-common-tit">相关进口品牌连接</h3>
			<ul class="jinkou-logos-list clearfix">
				<li><a href="#"><img src="images/logo_partner_1.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_2.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_3.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_4.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_5.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_6.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_7.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_8.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_9.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_10.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_11.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_12.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_13.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_14.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_15.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_16.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_17.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_18.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_19.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_20.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_21.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_22.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_23.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_24.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_25.jpg"></a></li>
				<li><a href="#"><img src="images/logo_partner_26.jpg"></a></li>
			</ul>
		</div>
	</div>
</div>
<div class="footer">
	<div class="wrapper clearfix">
		<div class="footer-nav">
			<div class="footer-logo"><img src="images/logo_footer.png"></div>
			<div class="footer-nav-list">
				<a href="index.html">首页</a>
				<a href="about.html">关于我们</a>
				<a href="pro.html">产品展示</a>
				<a href="jinkou.html">进口品牌</a>
				<a href="prodata.html">产品知识</a>
				<a href="anzh.html">安装工程</a>
				<a href="contact.html">联系我们</a>
			</div>
		</div>
		<div class="footer-mess">
			<p>地址：上海市青浦区徐泾镇崧泽大道1618弄9号&nbsp;&nbsp;电话：+86 21 58712722 / 58712795</p>
			<p>传真：+86 21 58716195&nbsp;&nbsp;邮箱：info@kevytech.com</p>
			<p>COPYRIGHT © 2015 凯蔚（上海）机电科技有限公司&nbsp;&nbsp;ALL RIGHTS RESERVED</p>
		</div>
	</div>
</div>
</body>
</html>
