<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>产品知识</title>
<link rel="stylesheet" type="text/css" href="css/base.css">
<link rel="stylesheet" type="text/css" href="css/common.css">
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/jquery.SuperSlide.2.1.js"></script>
<script src="js/source.func.js"></script>
<script src="js/common.js"></script>
<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('#');
</script>
<![endif]-->
</head>

<body data-curpageid="5">
<div class="header">
	<div class="header-main wrapper clearfix">
		<a href="index.html" class="header-logo"><img src="images/logo.png"></a>
		<div class="header-right">
			<div class="header-right-sup clearfix">
				<div class="header-search clearfix">
					<input type="text" name="" id="">
					<a href="javascript:void(0);" class="submit" id=""></a>
				</div>
				<div class="header-version-tab"><a href="#">中文版</a>|<a href="#">English</a></div>
			</div>
			<p class="header-phone">021-58712795</p>
		</div>
	</div>
</div>
<div class="main-nav">
	<ul class="main-nav-list wrapper">
		<li><a href="index.html" data-pageid="1">网站首页</a></li>
		<li><a href="about.html" data-pageid="2">关于我们</a></li>
		<li><a href="pro.html" data-pageid="3">产品分类</a></li>
		<li><a href="jinkou.html" data-pageid="4">进口品牌</a></li>
		<li><a href="prodata.html" data-pageid="5">产品知识</a></li>
		<li><a href="anzh.html" data-pageid="6">安装工程</a></li>
		<li><a href="contact.html" data-pageid="7">联系我们</a></li>
	</ul>
</div>
<div class="inbanner">
	<div class="inbanner-pic" style="background-image:url(images/pic_banner_prodata.jpg);"></div>
	<div class="inbanner-text">
		<h3 class="title">产品知识</h3>
		<p class="exp">凯蔚机电为您提供丰富的产品知识！</p>
	</div>
</div>
<div class="inside-pos wrapper">
	<h1 class="page-title">产品知识</h1>
	<p class="cur-pos">当前位置：<a href="index.html">首页</a> &gt; 产品知识</p>
</div>
<div class="incontenter">
	<div class="wrapper">
		<ul class="prodata-simple-list">
			<li>
				<div class="prodata-simple-one clearfix">
					<a href="article.html" class="pic"><img src="images/pic_prodata_1.jpg"></a>
					<div class="text">
						<h3 class="title">NPT、PT、G、RC螺纹的区别</h3>
						<p class="time">时间：2015-06-01</p>
						<p class="exp">公制螺纹与英制螺纹的区别：公制螺纹用螺距来表示，美英制螺纹用每英寸内的螺纹牙数来表示；公制螺纹是60度等边牙型，英制螺纹是等腰55度牙型，美制螺纹为等腰60度牙型。公制螺纹用公制单位（如mm），美英制螺纹用英制单位（如英寸）；“行内人”通常用“分”来称呼螺纹尺寸，一英寸等于8分...</p>
					</div>
					<a href="article.html" class="see-more"></a>
				</div>
			</li>
			<li>
				<div class="prodata-simple-one clearfix">
					<a href="article.html" class="pic"><img src="images/pic_prodata_2.jpg"></a>
					<div class="text">
						<h3 class="title">不锈钢卡压与环压的综合对比</h3>
						<p class="time">时间：2015-06-01</p>
						<p class="exp">依据国标19228.1.2.3，卡压式薄壁不锈钢管是一种特殊焊接、处理的焊缝管材。管件端口部的U型槽装有O型密封圈，安装时将不锈钢管材插入管件端口内，再使用专用卡压工具使U型槽凸部缩径，将管材管件卡压成六角形，通过密封达到足够的密封强度。</p>
					</div>
					<a href="article.html" class="see-more"></a>
				</div>
			</li>
			<li>
				<div class="prodata-simple-one clearfix">
					<a href="article.html" class="pic"><img src="images/pic_prodata_3.jpg"></a>
					<div class="text">
						<h3 class="title">各类密封圈材质以及应用</h3>
						<p class="time">时间：2015-06-01</p>
						<p class="exp">SIL硅橡胶密封圈：SIL硅橡胶密封圈具有极佳的耐热、耐寒、耐臭氧、耐大气老化性能，有很好的绝缘性能，但SIL硅橡胶密封圈抗拉强度较一般橡胶差且不具耐油性;SIL硅橡胶密封圈适用于家用电器如电热水器、电熨斗、微波炉等，SIL硅橡胶密封圈还适用于各种</p>
					</div>
					<a href="article.html" class="see-more"></a>
				</div>
			</li>
			<li>
				<div class="prodata-simple-one clearfix">
					<a href="article.html" class="pic"><img src="images/pic_prodata_4.jpg"></a>
					<div class="text">
						<h3 class="title">卡套接头安装说明</h3>
						<p class="time">时间：2015-06-01</p>
						<p class="exp">我们只推荐使用316TI， 316L 无缝不锈钢钢管，注意：不要用焊接钢管将钢管用锯子锯断。千万不要用切管器轻轻的把表面和内部的毛刺去掉，但请不要斜切。当您用的是薄钢管，我们推荐您用加强套管，把与管子相配的预接头固定到老虎钳子上用润滑剂给预安装的接头，螺母和卡套加润滑油</p>
					</div>
					<a href="article.html" class="see-more"></a>
				</div>
			</li>
		</ul>
		<div class="tab-pages">
			<a href="#" class="page-tab page-prev">上一页</a>
			<a href="#" class="page">1</a>
			<a href="#" class="page">2</a>
			<a href="#" class="page on">3</a>
			<a href="#" class="page">4</a>
			<a href="#" class="page">5</a>
			<a href="#" class="page-tab page-next">下一页</a>
		</div>
	</div>
</div>
<div class="footer">
	<div class="wrapper clearfix">
		<div class="footer-nav">
			<div class="footer-logo"><img src="images/logo_footer.png"></div>
			<div class="footer-nav-list">
				<a href="index.html">首页</a>
				<a href="about.html">关于我们</a>
				<a href="pro.html">产品展示</a>
				<a href="jinkou.html">进口品牌</a>
				<a href="prodata.html">产品知识</a>
				<a href="anzh.html">安装工程</a>
				<a href="contact.html">联系我们</a>
			</div>
		</div>
		<div class="footer-mess">
			<p>地址：上海市青浦区徐泾镇崧泽大道1618弄9号&nbsp;&nbsp;电话：+86 21 58712722 / 58712795</p>
			<p>传真：+86 21 58716195&nbsp;&nbsp;邮箱：info@kevytech.com</p>
			<p>COPYRIGHT © 2015 凯蔚（上海）机电科技有限公司&nbsp;&nbsp;ALL RIGHTS RESERVED</p>
		</div>
	</div>
</div>
</body>
</html>
